  .progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
  }

  .brand-logo {
    margin-left: 30px;
  }

  .news-container .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
  }

  .input-field {
    margin-top: 40px;
  }

  .card .card-image .card-title {
    font-size: 13px;
  }

  .gradient {
    background: linear-gradient(149deg, #91ffeb 0%, rgb(180, 255, 145) 42%, rgb(133, 131, 245) 72%, rgb(204, 145, 177) 100%);
    animation: gradient 10s infinite alternate;
    background-size: 1000%; 
  }

  @keyframes gradient {
    0% {
        background-position: 95% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 95% 0%;
    }
}


@media only screen and (max-width: 992px) {
  .brand-logo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 680px) {
  .card-title {
    display: none;
  }
}


@media only screen and (max-width: 558px) {
  .news-container .grid-container {
    grid-template-columns: 1fr;
  }

  .row .col.s6 {
    width: 100%;
  }
}
